[Common]
reference = utest/case_4/chr99.fa
window = utest/case_4/window.posinfo

[Child]
vcf_file = utest/case_4/child.vcf
fasta1 = utest/case_4/result/child_1.fa
fasta2 = utest/case_4/result/child_2.fa

[Mother]
vcf_file = utest/case_4/mother.vcf
fasta1 = utest/case_4/result/mother_1.fa
fasta2 = utest/case_4/result/mother_2.fa

[Father]
vcf_file = utest/case_4/father.vcf
fasta1 = utest/case_4/result/father_1.fa
fasta2 = utest/case_4/result/father_2.fa

