[Common]
reference = utest/case_1/chr99.fa
window = utest/case_1/window.posinfo

[Child]
vcf_file = utest/case_1/child.vcf
fasta1 = utest/case_1/result/child_1.fa
fasta2 = utest/case_1/result/child_2.fa

[Mother]
vcf_file = utest/case_1/father.vcf
fasta1 = utest/case_1/result/mother_1.fa
fasta2 = utest/case_1/result/mother_2.fa

[Father]
vcf_file = utest/case_1/father.vcf
fasta1 = utest/case_1/result/father_1.fa
fasta2 = utest/case_1/result/father_2.fa

