[Common]
reference = example/build37-chr21.fa
window = example/NA12880-chr21.posinfo

[Child]
vcf_file = example/NA12880-chr21-unphased-clean.vcf
fasta1 = example_result/NA12880-chr21_1.fa
fasta2 = example_result/NA12880-chr21_2.fa

[Mother]
vcf_file = example/NA12878-chr21-clean.vcf
fasta1 = example_result/NA12878-chr21_1.fa
fasta2 = example_result/NA12878-chr21_2.fa

[Father]
vcf_file = example/NA12877-chr21-clean.vcf
fasta1 = example_result/NA12877-chr21_1.fa
fasta2 = example_result/NA12877-chr21_2.fa

