[Common]
reference = utest/case_5/chr99.fa
window = utest/case_5/window.posinfo

[Child]
vcf_file = utest/case_5/child.vcf
fasta1 = utest/case_5/result/child_1.fa
fasta2 = utest/case_5/result/child_2.fa

[Mother]
vcf_file = utest/case_5/mother.vcf
fasta1 = utest/case_5/result/mother_1.fa
fasta2 = utest/case_5/result/mother_2.fa

[Father]
vcf_file = utest/case_5/father.vcf
fasta1 = utest/case_5/result/father_1.fa
fasta2 = utest/case_5/result/father_2.fa

